@import "../../App.less";

.label {
  height: 2rem;
  display: flex;
  background-color: #pallette[silver];
  border: 1px solid #9f9f9f;
  color: black;
  padding: 2px 8px;
  border-radius: 100px;
  user-select: none;
  cursor: pointer;

  .delete-label {
    display: none;
  }

  &.show-delete {
    .delete-label {
      .delete-btn;
      display: block;
    }
  }
  &.hide {
    opacity: 0;
  }
  &.faint {
    background-color: #f2f2f2aa;
  }
}
