@import "../../App.less";

.label {
  height: 2rem;
  display: flex;
  color: #pallette[dark];
  border: 1px solid #pallette[grey];
  background-color: #pallette[silver];
  padding: 0.2rem 1rem;
  border-radius: 100px;
  user-select: none;
  &.clickable {
    background-color: #pallette[lightdark];
    color: white;
    border-color: #pallette[lightdark];
    cursor: pointer;
    &:hover {
      background-color: #686868;
    }
  }

  .delete-label {
    display: none;
  }

  &.show-delete {
    .delete-label {
      .delete-btn;
      display: block;
    }
  }
  &.hide {
    opacity: 0;
  }
  &.faint {
    color: #pallette[dark];
    background-color: #pallette[silver];
    border-color: #pallette[grey];
    &:hover {
      background-color: #d2d2d2;
    }
  }
}
